.profileBody {
  margin: 0;
  background-color: white;
}

#welcome {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 45px;
}

.profilePaper {
  height: 600px;
  width: 300px;
  overflow: scroll;
}

.columnTitle {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  font-weight: lighter;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  text-align: center;
}

#favTitle {
  background-color: #DB6464;
}

#wantTitle {
  background-color: #1E8CB5;
}

#noTitle {
  background-color: #EAB95D;
}

.rowDiv {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  margin: 0px;
}

.rowDiv:hover {
  background-color: #fafafa;
}

/* List styles */
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  font-size: 20px;
  font-family: sans-serif;
  display: inline;
}

.xIcon {
  float: right;
  display: inline;
}

.favX:hover, .wantX:hover, .noX:hover {
  background-color: #E23D3D;
  transition: 200ms;
  border-radius: 50px;
}
/* End list styles */

#yellowBlock {
  background-color: #EAB95D;
  height: 40px;
  margin-bottom: 30px;
  margin-top: -100px;
}

#lightBlueBlock {
  background-color: #ADDCED;
  height: 150px;
}