body {
    margin: 0px;
    font-family: sans-serif;
}

.alert {
    background-color: #E23D3D;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    text-align: center;
}

form {
    background-color: white;
    border: 1px solid #E23D3D;
    box-shadow: 5px 5px 10px lightgray;
    width: 25%;
    height: 275px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
}

input {
    margin: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-family: sans-serif;
    font-size: 18px;
}

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.log-in, .log-out, .register {
  background-color: #E23D3D;
  border-radius: 4px;
  border: 1px solid #E23D3D;
  color: #f8f8f8;
  min-height: 40px;
  min-width: 100px;
  margin-top: 20px;
  outline:0;
  cursor: pointer;
  font-family: sans-serif;
  transition: 200ms;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: black;
  transition: 200ms;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

#yellowBlockLogin {
  background-color: #EAB95D;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 40px;
}

#lightRedBlockLogin {
  background-color: #E23D3D;
  height: 100px;
  margin-bottom: 10px;
}

#lightBlueBlockLogin {
  background-color: #ADDCED;
  height: 100px;
}