.nav-title {
  font-size: 50px;
  display: inline-block;
  color: #E23D3D;
  font-family: 'Pacifico', cursive;
  padding-left: 75px;
  margin: 0px;
}

.homeNav {
  overflow: hidden;
  margin-bottom: 20px;
}

.nav-link {
  float: left;
  color: #EAB95D;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 20px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

#logout {
  float: left;
  color: #EAB95D;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background-color: none;
  outline: 0;
}

.nav-link:hover {
  color: lightgray;
}

.nav-right {
  float: right;
  padding-right: 75px;
}