.homeBody {
  margin: 0px;
  padding-bottom: 100px;
  background-image: url("./food-bg.png");
}

.placesSearchContainer {
  display: inline-block;
}

.searchPaper {
  height: 720px;
  width: 600px;
  overflow: scroll;
}

/* Search Styling */
.appHeader {
  text-align: center;
  margin-top: 50px;
}

#searchInput {
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 18px;
  font-family: sans-serif;
  padding: 5px;
  width: 300px;
  box-sizing: border-box;
}

#searchLabel {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}

#goButton {
  background-color: #E23D3D;
  border-radius: 75%;
  height: 50px;
  width: 50px;
  border: 1px solid #E23D3D;
  font-family: sans-serif;
  font-weight: bold;
  transition: 200ms;
}

#goButton:hover {
  background-color: black;
  color: white;
  transition: 200ms;
}

.appTitle {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

#placeName, #placeAddress, #placeRating {
  color: black;
}
/* End Search */

/* Results */
#resultDiv {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

#placeName {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #EAB95D;
  font-size: 30px;
  margin-bottom: -12px;
}

#placeAddress {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 24px;
  margin-bottom: -8px;
  padding: 0px;
}

#iconDiv {
  margin-bottom: 15px;
}

#placeRating {
  font-family: sans-serif;
}
/* End Results */

/* Instructions section */
.instructionsDiv {
  margin-top: 240px;
  margin-left: 20px;
}

#instructionsh1 {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 40px;
  color: #E23D3D;
  margin-bottom: -10px;
}

#instructionsh2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}
/* End instructions section */