.navTitle {
    font-size: 50px;
    display: inline-block;
    color: #E23D3D;
    font-family: 'Pacifico', cursive;
    padding-left: 75px;
    margin: 0;
}

.nav {
  overflow: hidden;
}

.nav-link {
  float: left;
  color: #EAB95D;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 20px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

#logout {
  float: left;
  color: #EAB95D;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background-color: none;
  outline: 0;
}

.nav-link:hover {
  color: #fafafa;
}

.nav-right {
  float: right;
  margin-right: 75px;
}